.App {
  /* display: flex; */
  background-image: url(mp.jpg);
  height: 1000px;
  width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.center_text {
  float: left;
  margin-left: 30px;
  margin-top: 175px;

}

h2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 45px;
  color: white;
  text-decoration: underline;
}

.one_dest {
  padding: -50px;
  margin-top: -40px;
  
}

h3 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  color: #ECEA4B;
}

.h31 {
  margin-left: 150px;
  margin-top: -40px;
  
}

.h32 {
  margin-left: 110px;
  margin-top: -40px;
  
}

.h33 {
  margin-left: 180px;
  margin-top: -40px;
  
}

.results_container {
  background-size: cover;
  width: cover;
  margin: auto;
  background: linear-gradient(left bottom, #7272EB, #23DF23, #E7EB28);
  margin: 40px;
  justify-content: center;
}

h2 {
  text-align: center;  
  padding-top: 20px;  
  width: 100%;
}

span {
  width: 100%;
}

.results_flex {
  display: flex;
  margin-left: 30px;
  padding-bottom: 30px;
  justify-content: left;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}