.results_container {
    background-size: cover;
    width: cover;
    margin: auto;
    background: linear-gradient(left bottom, #0C4E2F, #23DF23, #E7EB28);
    margin: 40px;
    justify-content: center;
}

h2 {
    text-align: center;  
    padding-top: 20px;  
}

.results_flex {
    margin-left: 30px;
    padding-bottom: 30px;
    /* justify-content: space-between; */
    
}

table {
    border: 3px solid white;
    padding: 20px;
    width: 27%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    color: white;
    margin: 10px;
    
}

.table_header {
    font-size: 28px;
    text-align: left;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}

th td {
    padding: 10px;
}

.props_font {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}